// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.img-responsive{
  width: 100%;
}

p{
  margin: 0;
}

.pointer{
  cursor: pointer;
}

.contact-name, .contact-email{
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contacts-area{
  max-height: 79vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.hidden{
  display: none !important;
}